<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div ng-app="myApp">

        <!-- Componente Padre -->
        <div ng-controller="controllerTwo as c2">
            <h1>Parent</h1>
            <input type="text" ng-model="c2.message" />
            <button ng-click="c2.sendEvent()">Send Event</button>
            <div>
                <p>Message for son: {{ c2.data }}</p>
            </div>

            <!-- Componente Hijo -->
            <div ng-controller="controllerThree as c3">
                <h1>song</h1>
                <input type="text" ng-model="c3.message" />
                <button ng-click="c3.sendEvent()">Send Event</button>
                <div>
                    <p>Message for father: {{ c3.data }}</p>
                </div>
            </div>
            <!-- /Componente Hijo -->
        </div>
        <!-- /Componente Padre -->
    </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="controllerTwo.js"></script>
<script src="controllerThree.js"></script>
<script src="app.js"></script>

</html>